@charset "UTF-8";
@import "bootstrap_variables";

// 아이콘 폰트설정
$icoFontFamily:"맑은 고딕";
$icoFontSize:11px;

// 아이콘 배경컬러 설정
$icoGuideColor:$brand-muted; // 대기중
$icoDoneColor:$brand-primary; // 퍼블종료,검수요청
$icoEditColor:$brand-warning; // 검수진행중
$icoFinishColor:$brand-success; // 개발가능

// 아이콘
span.ico {display:inline-block; background:$icoGuideColor; text-transform:uppercase; font-size:$icoFontSize; font-family:$icoFontFamily; border-radius:2px; color:#FFF; min-width:30px; padding:5px 5px 5px 5px; margin:0 3px 0 0;  line-height:11px; text-align:center; vertical-align:middle;
  &.guide { background:$icoGuideColor;}
  &.done { background:$icoDoneColor;}
  &.edit { background:$icoEditColor;}
  &.finish { background:$icoFinishColor;}
}

// 아이콘 설명 부분
.iconGuide{padding:5px 0 5px;font-size:12px;text-align:right;
  strong{display:inline-block; min-width:50px; margin-right:8px; font-size:12px; color:#444; font-weight:bold;
    .ico{margin-right:6px}
    &:last-child{margin-right:0;}
  }
}

// 헤더영역
.papersHeader{background:#333;border-bottom:1px solid #ccc;
  .paersH1{padding-top:10px;}
  h1{padding:0;margin:0;font-size:2em;color:#fff;font-family: 'Poiret One', cursive;}
  .progressCaseDiv{padding:15px 0;
    .progress{margin-bottom:0;

    }
  }
  .btnSet{padding-top:5px;
    a{display:inline-block;border:1px solid #fff;padding:5px;}
  }
  .glyphicon{color:#fff;}
  .fa{color:#fff;}
}