<!doctype html>
<html lang="ko" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Papers : 웹페이지 진행확인</title>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/papers.css"/>
</head>
<body ng-app="paperApp">
<!--
TODO 종료일 기준 퍼블완료가 되지 않으면, 빨간색으로 표기
TODO 전체펼침 버튼
TODO 검수자 정보 진행상태 안으로 포함.
TODO 단어 검색 추가.
TODO 풋터 디자인 수정.
TODO AMD로 로딩부분 구현
TODO 오프라인 버전 -> grunt-excel-as-json
TODO 삭제됨 컨디션 추가
TODO 에버노트 연결

-->
<!-- TODO 특정 버튼을 누르면 다 펼쳐지도록? -->
<section ng-controller="papersCtrl">
    <!-- 상단 패널 : 타이틀 , 구글시트링크 , 깃허브링크 , 진행상태, 검색바 -->
    <div ng-controller="papers_topPanelCtrl">
        <div class="papersHeader container-fluid">
            <div class="row">
                <div class="paersH1 col-md-6 col-xs-7"><h1><span>Papers :</span> <strong>{{sheetTitle}}</strong></h1></div>
                <div class="btnSet col-md-2 col-md-push-4 col-xs-5 col-xs-push-0">
                    <a href="{{spreadsheetPage}}" title="Paper '{{sheetTitle}}' 스프레드 시트로 이동" target="_blank"><i class="fa fa-file-text-o fa-lg"></i></a>
                    <a href="https://github.com/dstyle0210/papers" title="Papers GitHub" target="_blank"><i class="fa fa-github-alt fa-lg"></i></a>
                </div>
                <div class="progressCaseDiv col-md-4 col-md-pull-2 col-xs-12 col-xs-pull-0 ">
                    <div class="progress">
                        <div class="progress-bar progress-bar-{{condition.className}}  progress-bar-striped" style="width:{{ totalCondition[condition.className+'Per'] }}%" ng-repeat="condition in conditionStats">
                            <strong>{{ totalCondition[condition.className+'Per'] }}%</strong> <span class="sr-only">{{ totalCondition[condition.className+'Per'] }}% Complete ({{condition.name}})</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="iconGuide">
                <strong ng-repeat="condition in conditionStats"><span class="hidden-xs">{{condition.name}}</span> <span class="ico {{condition.className}}">.{{condition.className}}</span></strong>
            </div>
        </div>
    </div>
    <!-- // 상단 패널 : 타이틀 , 구글시트링크 , 깃허브링크 , 진행상태, 검색바 -->

    <!-- 페이퍼들 리스트 목록 -->
    <div class="container-fluid">
        <section class="gateSection" ng-controller="papers_ListCtrl">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" ng-repeat="book in books">
                    <!-- Default panel contents -->
                    <div class="panel-heading" role="tab">
                        <div class="row">
                            <div class="col-md-4 col-xs-12"><a data-toggle="collapse" data-parent="#accordion" href="#{{ book.bookId }}Book">{{ book.bookTitle }}</a></div>
                            <div class="col-md-8 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-{{condition.className}}  progress-bar-striped" style="width:{{ book.stats[condition.className+'Per'] }}%" ng-repeat="condition in conditionStats">
                                        <strong>{{ book.stats[condition.className+'Per'] }}%</strong> <span class="sr-only">{{ book.stats[condition.className+'Per'] }}% Complete ({{condition.name}})</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="panel-body">
                         <p>...</p>
                     </div>-->
                    <!-- Table -->
                    <div id="{{ book.bookId }}Book" class="panel-collapse collapse">
                        <table class="fileListTable table table-hover">
                            <thead>
                            <tr>
                                <th class="paper">페이지명</th>
                                <th class="worker hidden-xs">업무자</th>
                                <th class="stats">진행상태(완료일)</th>
                                <th class="debug hidden-xs hidden-sm">검수일</th>
                                <th class="comment hidden-xs hidden-sm hidden-md">비고사항</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="paper in book.papers">
                                <td class="paper">
                                    <a href="{{ paper.file }}" ng-if="paper.file!=''">
                                        <span>{{ paper.depth1 }}</span>
                                        <span ng-show="paper.depth2"> &gt; {{ paper.depth2 }}</span>
                                        <span ng-show="paper.depth3"> &gt; {{ paper.depth3 }}</span>
                                    </a>
                                    <span ng-if="paper.file==''">
                                        <span>{{ paper.depth1 }}</span>
                                        <span ng-show="paper.depth2"> &gt; {{ paper.depth2 }}</span>
                                        <span ng-show="paper.depth3"> &gt; {{ paper.depth3 }}</span>
                                    </span>
                                </td>
                                <td class="worker hidden-xs">{{ paper.worker }}</td>
                                <td class="stats"><span class="ico {{paper.conditionClass}}">{{paper.enddate}}</span></td>
                                <td class="debug hidden-xs hidden-sm"><span data-toggle="tooltip" data-placement="left" title="{{ paper.debuger }}">{{ paper.debugdate }}</span></td>
                                <td class="comment hidden-xs hidden-sm hidden-md">{{ paper.comment }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- // 페이퍼들 리스트 목록 -->
</section>
<!-- javascript -->
<!--<script data-main="js/papers" src="js/require.js"></script>-->


<script data-main="js/papers" src="js/lib/require.js"></script>
</body>
</html>